@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');

html{
  font-family: 'Libre Bodoni', serif;
}

.header,
.footer,
.main {
  padding: 5px;
}

  .header {
    color:rgb(43, 32, 201);
    background-color: #18b90c;
  }
  .main{
    color:rgb(15, 15, 15);
    background-color: #16ce57;
  }
  .footer{
    color:rgb(29, 29, 29);
    background-color: #20a42b;
  }